<div class="author-card entry-card diffusedshadow">
    <p class="author-img">
        <img src="/assets/img/avatar_{{author.author}}.png">
    </p>
    <p class="author-name">
        <span>{{ author.name }}</span>
        <span class="author-handle">@{{ author.author }}</span>
    </p>
    <p class="author-social">
        {% if author.facebook %}
        <a href="{{author.facebook}}">
            <img src="/assets/icons/facebook-dark.svg"/>
        </a>
        {% endif %}
        {% if author.github %}
        <a href="{{author.github}}">
            <img src="/assets/icons/github-dark.svg"/>
        </a>
        {% endif %}
        {% if author.twitter %}
        <a href="{{author.twitter}}">
            <img src="/assets/icons/twitter-dark.svg"/>
        </a>
        {% endif %}
    </p>
    <div class="author-intro">
        {{ author.content }}
    </div>
    <!--<p class="author-link">-->
        <!--<a href="/authors/{{author.author}}">More</a>-->
    <!--</p>-->
</div>
