<!--suppress ALL -->
<head>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <meta http-equiv="content-type" content="text/html;UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="revisit-after" content="1 days">
    <meta charset="utf-8">
    <meta name="author" content="Hexworks">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Creative Commons BY-SA">
    <meta name="robots" content="index, follow">
    <meta name="keywords"
          content="{% if page.tags %}{{ page.tags | join: ', ' | truncate: 160 }}{% else %}{{ site.keywords | join: ', ' | truncate: 160  }}{% endif %}">
    <meta name="description"
          content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/icons/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/icons/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/icons/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

    <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>

    <link rel="stylesheet" href="{{"
    /css/main.css" | prepend: site.baseurl }}">
    {% if site.debug %}
    <link rel="stylesheet" href="{{"
    /css/debug.css" | prepend: site.baseurl }}">
    {% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
</head>
