<!--suppress ALL -->
<script src="/assets/js/anchor.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137018076-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-137018076-1');
</script>
<script>
    function fixFooter() {
        var page = document.getElementById('page')
        var bottom = document.getElementById('footer');
        if (page.offsetHeight + bottom.offsetHeight < window.innerHeight) {
            bottom.classList.add("stickybottom");
        } else {
            bottom.classList.remove("stickybottom")
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        fixFooter();
        new AnchorJS().add();
    }, false);

    (function () {
        var throttle = function (type, name, obj) {
            obj = obj || window;
            var running = false;
            var func = function () {
                if (running) {
                    return;
                }
                running = true;
                requestAnimationFrame(function () {
                    obj.dispatchEvent(new CustomEvent(name));
                    running = false;
                });
            };
            obj.addEventListener(type, func);
        };
        throttle("resize", "optimizedResize");
    })();

    // handle event
    window.addEventListener("optimizedResize", function () {
        fixFooter()
    });
</script>
<script id="dsq-count-scr" src="//hexworks.disqus.com/count.js" async></script>
